* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ras-sed-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: relative;
}
.desk {
  width: 20vw;
  height: 20vh;
  border: 1px solid chocolate;
  background-image: url("klupa3.jpg");
  background-position: center -40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.student {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.student-img {
  border-radius: 50%;
}
.img-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
img:hover {
  transform: scale(1.2);
}
p {
  width: 100%;
  height: 25px;
  background-color: chocolate;
  font-size: 10px;
  color: white;
  padding-left: 7px;
  border-radius: 50px;
}

.border-rad img {
  border-radius: 50%;
}
.invisible {
  visibility: hidden;
}
.btn-wraper {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.btn-wraper .btn-save-class {
  padding: 10px 5px;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn-wraper:hover {
  transform: scale(1.2);
  background-color: rgb(1, 77, 1);
}
