html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  min-height: 130vh;
  background-color: silver;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 5rem;
  /* padding-top: 10rem; */
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: #555;
  padding: 2rem;
}
.ras-sed-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: relative;
}
.desk {
  width: 22vw;
  height: 20vh;
  /* border: 1px solid chocolate; */
  background-image: url("klupa3.jpg");
  background-position: center -4rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.student {
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.student-img {
  border-radius: 50%;
}
.img-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}
img {
  transition: transform 0.4s;
}
img:hover {
  transform: scale(3);
}
p {
  width: 100%;
  height: 2.5rem;
  /* background-color: chocolate; */
  background-color: white;
  font-size: 1rem;
  /* color: white; */
  color: #555;
  padding-left: 0.7rem;
  border-radius: 5rem;
}

.border-rad img {
  border-radius: 50%;
}
.invisible {
  visibility: hidden;
}
.btn-wraper {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
.btn-wraper-clear {
  position: absolute;
  bottom: 8rem;
  right: 3rem;
}
.btn-wraper .btn-save-class {
  padding: 1rem 0.5rem;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn-wraper-clear .btn-clear-storage {
  padding: 1rem 0.5rem;
  background-color: orangered;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn-wraper .btn-save-class:hover {
  transform: scale(1.2);
  background-color: rgb(1, 77, 1);
}
.btn-wraper-clear .btn-clear-storage:hover {
  transform: scale(1.2);
  background-color: rgb(122, 33, 0);
}
